#container{

}
body{
  background-color: black;
  margin:0px;
  padding:0px;
}

/* "D" */
#D{
  position:relative;
}
.rec-left{
  background-color: white;
  width:45px;
  height:250px;
  left:100px;
  top:40px;
  position:absolute;
  z-index: 2;
}
.neg-rec-left{
  background-color: black;
  position:absolute;
  width:100px;
  height:250px;
  left:0px;
  top:40px;
  z-index:3;

}
.circle-out{
  background-color: white;
  width:250px;
  height:250px;
  border-radius: 50%;
  position:absolute;
  left:45px;
  top:40px;
}
.circle-in{
  background-color:black;
  width:160px;
  height:160px;
  border-radius:50%;
  position:absolute;
  left:45px;
  top:45px;
}
.neg-rec{
  background-color: white;
  width:80px;
  height:40px;
  position:absolute;
}
#top{
  left:100px;
  top:40px;
}
#bottom{
  left:100px;
  top:250px;
}



/* "r" */
#r{
  position:relative;
  left:290px;
}
.short-rec{
  background-color: white;
  width:45px;
  height:150px;
  left:50px;
  top:140px;
  position:absolute;
}
.half-cir-out{
  position:absolute;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left:90px;
  top:140px;
}
.half-cir-in{
  position:absolute;
  background-color: black;
  border-radius: 50%;
  width: 70px;
  height: 80px;
  left:5px;
  top:35px;
}
.neg-rec-bottom{
  position:absolute;
  background-color: black;
  width: 60px;
  height: 50px;
  left:130px;
  top:195px;
}


/* "i" */
#I{
  position:relative;
  left:490px;
}
.rec-bottom{
  background-color: white;
  width:45px;
  height:90px;
  left:30px;
  top:200px;
  position:absolute;
}
.cir-top{
  background-color: white;
  width:45px;
  height:45px;
  border-radius:50%;
  left:30px;
  top:130px;
  position:absolute;
}
.down{
  animation-name: get-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes get-down {
  from{
    top:130px;
  }
  to{
    top:800px;
  }
}
/* "p" */
#p{
  position:relative;
  left:580px;
}
.rec-left-p{
  background-color: white;
  width:45px;
  height:250px;
  left:30px;
  top:190px;
  position:absolute;
}
.cir-out{
  position:absolute;
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 140px;
  left:60px;
  top:180px;
}
.cir-neg-in{
  position:absolute;
  background-color: black;
  border-radius: 50%;
  width:50px;
  height:80px;
  left:35px;
  top:30px;
}


/* waterdrop */
.tri-top{
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid white;
  position:absolute;
  left:610px;
  top:500px;
}

.cir-bottom{
  width:50px;
  height:50px;
  border-radius: 50%;
  position:absolute;
  background-color: white;
  left:610px;
  top:530px;
}
